{% extends 'base.html' %}





{% block content %}

<div class="main-content">
    <h2>My Gratitudes</h2>
    <a class="btn" href="{% url 'gratitudes:createnew' %}">New</a>

    {% for gratitude in gratitudes.all %}
    
        <div class="list-item">
            <p class="list-title list-item-body">I am grateful that  {{ gratitude }}</p>
            <p class="list-date list-item-two-col">{{gratitude.date}}</p>
            <p class="list-author list-item-two-col">{{gratitude.author}}</p>
            <form method="POST" action="{% url 'gratitudes:delete' gratitude.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </div>

    {% endfor %}
</div>

{% endblock %}