{% extends 'base.html' %}

{% block content %}

<section class="hero">
    {% load static  %}
    <h2>Happiness comes from within</h2>
    <p>Studies have proven that spending intentional time being grateful for what we have is incredibly helpful to your mental health</p>
</section>
<section class="benefits">
    <a href="https://emmons.faculty.ucdavis.edu/gratitude-and-well-being/"></a>
    <h3>Increased positivity</h3>
    <p>Even on those days that feel terrible, pushing yourself to include somethings </p>
    <h3>Improved self esteem</h3>
    <p>Helps you to remember the good things in your life</p>
    <h3>Better sleep</h3>
    <p>Ever lay awake at night thinking about your worries? A study indicates that spending 15 minutes focusing on the positive aspects of your day can help you have a much better night's sleep. </p>
    <h3>Happier moods</h3>
    <p>It makes sense that if you intentionally focus on good things, your mood should increase</p>
    <h3>Reduces stress</h3>
    <p></p>
    <h3>Reduces physical pain</h3>
    <p>In a study</p>
</section>
{% endblock %}