*, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF;
}

a {
    color: #f7c73f;
    text-decoration: none;
}

.btn {
    background-color: #f7c73f;
    color: #222 ;
    border: 1px #b38b1e solid;
    border-radius: 5px;
    padding: 10px 25px;
}

.description {
    color: #444;
    font-size: 0.9em;
}
.main-content {
 padding: 15px 25px;
 min-height: 85%;
}

.header-bar {
    background-color:#f7c73f;
    color: #222;
    width: 100%;
    padding: 15px 25px;
}

.header-bar  a {
    color: #222;
}

.list-item {
    border: 1px solid grey;
    background-color: #d0d1d1;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.footer {
    background-color: #222;
    padding: 15px 25px;
    color: #FFF;
    width: 100%;
}