<html>

    <head>
        <title>Gratitude Log</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'gratitudelog/css/main.css' %}">

    </head>
    <body>
    <header class="header-bar">
        <div class="branding">
            <h2><a href="{% url 'home' %}">Gratitude Log</a></h2>
        </div>
        <div class="header-right">
            <a href="{% url 'accounts:logout' %}">Logout</a>
        </div>
        <nav>

        </nav>
    </header>
    <section class="main">
        {% block content %}
        {% endblock %}

    </section>
 
    
    <footer class="footer">
        <p>Made by <a href="https://www.daniellenall.com">Danielle</a> in the UK</p>
    </footer>
    </body>
    
    
</html>
